body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

[type="file"] {
    height: 0.1px; width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    
    + label {
        background-color: #d3394c;
        color: #f1e5e6;
        cursor: pointer;
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 700;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        svg {
            fill: currentColor;
            height: 1em; width: 1em;
            margin-top: -0.25em;
            margin-right: 0.25em;
            vertical-align: middle;
        }
        
        &:hover {
            background-color: #722040;
        }
    }
    
    &:focus + label {
        background-color: #722040;
        outline: 1px dotted #000;
    }
}

