{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="d-flex flex-column align-items-center text-center">
  <img src="{{ request.user.logo.url }}" alt="error">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% if next %}
      <input type="hidden" name="text" value="{{ text }}">
      {% endif %}
      <div class="box">
        <input type="file" name="logo" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
        <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="mt-3">
      <h4>{{ request.user.username }}</h4>
      <p class="text-secondary mb-1">Full Stack Developer</p>
      <p class="text-muted font-size-sm">Uzbekistan</p>
      <button class="btn btn-primary">Follow</button>
      <button class="btn btn-outline-primary">Message</button>
    </div>
  </div>

  <style>
    body{
      background-color: white;
    }
    
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}



a {
	outline: none;
	color: #d3394c;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #722040;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

h1{
	text-align: center;
}
/* Content */

.content {
	width: 100%;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 0 0 3em 0;
}

.content footer {
	color: #b39295;
	margin-top: 40px;
}

.content footer a:hover,
.content footer a:focus {
	color: #4b0f31;
}

.box {
  margin-top: 20px;
  margin-bottom: 40px;
	background-color: #fbfbfb;
}

.box + .box {
	margin-top: 2.5rem;
}

/********** File Input Style starts here ********/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;   
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}



.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}

  </style>
{% endblock %}